<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Neo4j | 404</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/skeleton.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<style type="text/css">
		p {text-align: center;}
	</style>
	

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

	<!-- Script it up
	================================================== -->
    <script src="/javascripts/zepto.min.js" ></script>
    <script src="/javascripts/underscore-min.js" ></script>
    
    <!-- redirect map -->
    <script type="text/javascript">
    	var redirect_map = [
			{ path:".*", redirect_to:"http://neo4j.org", title:"Neo4j Home", explanation:" That&apos;s where you&apos;ll find the latest information about Neo4j." }
    	];
    </script>
		
</head>
<body>

	<!-- Primary Page Layout
	================================================== -->
	<div class="container">
		<h1 style="margin-top: 100px; text-align:center">Sorry. Couldn't Find That Page!</h1>
		
		<p>Please see the Neo4j <a href="http://github.com/neo4j/community">community project on github</a> for all active development.</p>
    
    	<div id="known_redirect"/>
    
	</div>

    <script type="text/javascript">
      $(document).ready(function () {
      	var requested_url = document.URL;
      	var recommended_redirect = _.find(redirect_map, function(possible_redirect) {
      		var path_pattern=new RegExp(possible_redirect.path);
	      	return path_pattern.test(requested_url);
      	});
      	var snippet = _.template("<p>For that specific page, you might find <a href=\"<%=redirect_to%>\"><%= title %></a> helpful. <%= explanation %></p>");
      
      	$('#known_redirect').append(snippet(recommended_redirect));
      });
    </script>
	
<!-- End Document
================================================== -->
</body>
</html>
